body{
  margin: 0;
}

.mainContainer{
  height: 80vh;
  display: flex;
  flex-direction: column;
  //align-items: center;
  padding: 0 20px;
}

.heroTitle{
  font-weight: bold;
  text-align: center;
  margin: 80px auto auto;
  font-size: 28px;
  //margin: auto;
}

.announcement{
  margin: 20px auto auto;
  text-align: center;
}