body{
  margin: 0;
}

.mainContainer{
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.heroTitle{
  font-weight: bold;
  text-align: center;
  margin: auto;
}

.announcement{
  margin-top: 20px;
}